/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Шапка */

header {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 8rem;
    margin-block: 0.4em;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2.3rem;
    font-weight: bold;
    color: #2d5a27;
}

.logo .LOGO {
    width: 1.5em;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #1f221e;
    font-weight: 700;
    font-size: larger;
    transition: color 0.3s;
    padding-inline: 1.5em;
}

.nav-links a:hover {
    color: #2f8c23;
}

.phone {
    display: flex;
    font-weight: 600;
    color: #2d5a27;
}

.phone-icon i {
    font-size: 1.75rem;
    color: #2d5a27;
}

.phone span {
    margin-left: 0.8em;
}


/* Героические секции */
/* Общие настройки ко всем секциям */
section {
    padding: 80px 0;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #2d5a27;
    /* position: relative; */
}

/* Мейн баннер */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.704);
    margin-top: 80px;
    height: 100vh;
    background: url(/source/image/fon3.png);
    background-size: cover;
    background-position: center;

    /* position: relative;  */
    /* для дочерних свойств */
}


.hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 20px;
    margin-top: -5em;
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}


.btn {
    display: inline-block;
    background-color: #2d5a27;
    border-radius: 2em;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    box-shadow: 0 0 50px #b2ffe9b4;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #3a6d32;
    transform: translateY(-3px);
}

/* о нас */



.about-content {
    display: flex;
    align-items: center;
    gap: 50px;
}

.about-text {
    flex: 1;
}

.about-text p {
    margin-bottom: 20px;
    font-size: 1.15rem;
}

.check-list {
    margin-bottom: 10px;
    display: block;
    align-items: center;
}

.check-list li {
    display: block;
    align-items: center;
    margin-bottom: 10px;
}


.about-image {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    background-color: #2d5a27;
    max-width: 100%;
}

.image-container {
    width: 100%;
    height: 425px;
    max-height: 460px;
    position: relative;

}

.image-main,
.image-hover {
    position: absolute;
    width: 100%;
    height: 100%;
}

.image-hover {
    opacity: 0;
    transition: opacity 1s;
}


.image-container:hover .image-hover {
    opacity: 1;
}

/* Номера */

.room-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.room-card {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 9px 9px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s;
}

.room-card:hover {
    transform: translateY(-1.5em);
}

.room-image {
    width: 100%;
    overflow: hidden;
}

.room-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.room-info {
    padding: 20px;
}

.room-info h3 {
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

.room-price {
    color: #2d5a27;
    font-weight: 800;
    font-size: 1.5rem;
}

.btn-small {
    display: inline-block;
    background-color: #2d5a27;
    border-radius: 2em;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    padding: 0.8em;
    margin: 0.8em;
    transition: background-color 0.3s
}

.btn-small:hover {
    background-color: #3a6d32;
}

/* Сервис */

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 30px;
}

.services-card {
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 2em;
    transition: transform 0.3s;
}

.services-card:hover {
    transform: translateY(-1em);
}

.services-icon {
    font-size: 4em;
    color: #2d5a27;
}

.services-card h3 {
    color: #2d5a27;
}

/* Контакты */

.contact-content {
    display: flex;
    gap: 50px;
}

.contact-info {
    flex: 1;
}

.contact-info p,
.contact-info h2 {
    color: #2d5a27;
    font-size: 1.2em;
    margin-block: 1em;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form input,
.form select {
    padding: 1em;
    border-radius: 5px;
    border: 1px solid rgb(1, 33, 10);
}

.btn-form {
    background-color: #2d5a27;
    border-radius: 2em;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.8rem;
    transition: background-color 0.5s;
}

.btn-form:hover {
    background-color: #3a6d32
}

.contact-map {
    flex: 1;
}

.contact-map-placeholder {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    border-radius: 1em;
    justify-content: center;
    text-align: center;
}

.contact-map i {
    color: #2d5a27;
    font-size: 5em;
}

.contact-map p {
    color: #6e6e6e;

}

/* Подвал */

footer {
    background-color: #2d5a27;
    color: #ffffff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1em;
}

.footer-content>.logo {
    color: #ffffff;
    font-size: 1.5rem;
}

.logo img {
    font-size: 3rem;
    margin-inline: 0.6rem;
}

.footer-social {
    display: flex;
    gap: 1.5em;
}

.footer-social i {
    color: white;
    font-size: 2em;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.2em;
    border-radius: 50%;
    transition: 0.3s;
}

.footer-social i:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.footer-bottom {
    border-top: 1px solid rgb(131, 200, 177);
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-block: 1em;
}

/* АДАПТИВНОСТЬ */

@media (max-width: 1380px) {

    header {
        height: 150px;

    }

    .navbar {
        flex-direction: column;
        padding: 15px;
    }

    .hero {
        margin-top: 150px;
    }

    .contact-content {
        flex-direction: column;
    }

    .about-content{
        display: block;
    }


    .about-image {
        display: block;
        max-width: 700px;

        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        background-color: #2d5a27;

        
        margin: auto;
        margin-top: 2em;
    }

    .image-container{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .hero h1 {
        font-size: 2.8rem;
    }

    .hero p {
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {

    header {
        height: 200px;

    }

    .phone {
        display: none;
    }

    .hero {
        margin-top: 200px;
    }
    .navbar {
        flex-direction: column;
        padding: 15px;
    }

    .nav-links {
        margin: 0.5em 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-links li {
        margin: 0 10px 10px;
    }

    .footer-content {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .hero h1 {
        font-size: 2.2rem;
    }

    .hero p {
        font-size: 1.1rem;
    }

    .section-title {
        font-size: 2rem;
    }
}





